<div class="container-fluid">

    <app-page-title title="Cars" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group mb-2">
                                <label>Search</label>
                                <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="keyword"
                                    (keyup)="search()" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group mb-2 col-md-12">
                                <label style="visibility: hidden;">report</label>
                                <div>
                                    <div class="text-sm-end">
                                        <button type="button" class="btn btn-primary mb-2 me-2" (click)="export('csv')">
                                            <i class="mdi mdi-plus me-1"></i> Export
                                        </button>
                                        <input hidden type="file" #uploader (change)="onFileSelected($event)" />
                                        <button class="btn btn-primary mb-2 me-2" (click)="uploader.click()">
                                            <i class="mdi mdi-plus me-1"></i>Import
                                        </button>
                                        <button type="button" class="btn btn-primary mb-2 me-2"
                                            (click)="largeModal(largeDataModal)">
                                            <i class="mdi mdi-plus me-1"></i> New Car
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive" *ngIf="carData.length>0">
                        <table class="table dt-responsive nowrap datatables no-footer dtr-inline">
                            <thead>
                                <tr>
                                    <th sortable="name" (sort)="onSort($event)">Car Id</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let carInfo of carData ">
                                    <td>{{carInfo.car_id}}</td>
                                    <td>
                                        <div class="form-check form-switch  mb-2" dir="ltr">
                                            <input type="checkbox" class="form-check-input"
                                                (click)="toggleFunction($event,carInfo.id)"
                                                [checked]="!carInfo.status" [id]="carInfo.id">
                                            <label class="custom-control-label" [for]="carInfo.id"></label>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div placement="bottom-end">
                                            <a href="javascript: void(0);"
                                                (click)="editModal(largeDataModal,carInfo)"><i
                                                    class="fas fa-pencil-alt text-success me-2"></i>
                                            </a>
                                            <a href="javascript: void(0);" (click)="deleteRow(carInfo)">
                                                <i class="fas fa-times text-success me-2"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <app-pagination [page]="pageCopy()" *ngIf="carData.length>0" (newItemEvent)="changePage($event)">
                    </app-pagination>
                    <div class="table-responsive text-primary" *ngIf="carData.length==0">
                        * 0 Results Found.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
<ng-template #largeDataModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{title}} Car</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form (ngSubmit)="typeSubmit()" [formGroup]="typeValidationForm">
                            <div class="form-group mb-2">
                                <label>Car Id</label>
                                <input type="text" class="form-control" formControlName="car_id"
                                    [ngClass]="{'is-invalid': typesubmit && type.car_id.errors}" />
                                <div *ngIf="typesubmit && type.car_id.errors" class="invalid-feedback">
                                    <span *ngIf="type.car_id.errors.required"> care Id is required.</span>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <label>Vim</label>
                                <input type="text" class="form-control" formControlName="vim"
                                    [ngClass]="{'is-invalid': typesubmit && type.vim.errors}" />
                                <div *ngIf="typesubmit && type.vim.errors" class="invalid-feedback">
                                    <span *ngIf="type.vim.errors.required"> Vim is required.</span>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <label>Plate</label>
                                <input type="text" class="form-control" formControlName="plate"
                                    [ngClass]="{'is-invalid': typesubmit && type.plate.errors}" />
                                <div *ngIf="typesubmit && type.plate.errors" class="invalid-feedback">
                                    <span *ngIf="type.plate.errors.required"> Plate is required.</span>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <label>Purchase Date</label>
                                <input type="date" class="form-control" formControlName="purchase_date"
                                    [ngClass]="{'is-invalid': typesubmit && type.purchase_date.errors}" />
                                <div *ngIf="typesubmit && type.purchase_date.errors" class="invalid-feedback">
                                    <span *ngIf="type.purchase_date.errors.required"> Purchase Date is required.</span>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <label>Maker</label>
                                <select class="form-select" name="maker_id" formControlName="maker_id"
                                    [ngClass]="{'is-invalid': typesubmit && type.maker_id.errors}">
                                    <option *ngFor="let makersdata of makerData" value="{{makersdata.id}}">
                                        {{makersdata.name}}</option>
                                </select>
                                <div *ngIf="typesubmit && type.maker_id.errors" class="invalid-feedback">
                                    <span *ngIf="type.maker_id.errors.required"> Select Maker</span>
                                </div>
                            </div>
                            <div class="form-group mb-2 col-md-12 mb-0 mt-3">
                                <div>
                                    <button type="reset" class="btn btn-secondary float-end">
                                        Reset
                                    </button>
                                    <button type="submit" class="btn btn-primary  float-end me-1">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</ng-template>